@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitter", serif;
}
body {
    min-height: 100vh;
    width: 100%;
    background: white;

}

.container , .registration{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container header , .registration header{
    font-size: 30px;
    text-align: center;
    margin: 2px 20px 20px;
    padding: 10px;
}

.login , .regist {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login img , .regist img{
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

/* tampilan alert login*/
.alert {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    height: 60px;
    width: 100%;
}

.alert-danger {
    background-color: #da1f1f;
    border: 1px solid #d36161;
}

.alert-success {
    background-color: #a1d169;
    border: 1px solid #8fa577;
}

.input-container input {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: 20px;
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
}

.input-container input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* alert regist */
.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    display: block;
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 0.25rem;
    text-align: left;
}


.message-button {
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: #eb3838;
    border: 1px solid #d36161;
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 4px;
    display: inline-block;

}

.button-container {
    display: flex;
    gap:10px;
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
}

.button-container-b {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container .button {
    height: 60px;
    width: 48%;
    margin: 0;
    padding: 10px 20px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #ff8567;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-container-b .button {
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #ff8567;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    margin: 20px;
}

.button-container-b .link{
    margin-top: 5px;
    text-align: center;
    color: #ff8567;
    text-decoration: none;
}

.button-container .button:hover {
    background-color: #ff6f5e;
    text-decoration: none;
}

.button-container-b .button:hover {
    background-color: #ff6f5e;
}

.status-button-s {
    display: block;
    margin: 10px auto;
    background-color: #a1d169;
    color: white;
    border: 1px solid #8fa577;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 4px;
    cursor: default;
}

.status-button-l {
    display: block;
    margin: 20px 0 0 50px;
    background-color: #a1d169;
    color: white;
    border: 1px solid #8fa577;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 10px;
    cursor: default;
}

.form a {
    margin-top: 20px;
    text-align: center;
    color: #ff8567;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.custom-label {
    background-color: #cfc9c9;
    color: #ffffff;
    border-color: #d3d3d3;
}

.custom-label-b {
    background-color: #fcfafa;
    color: black;
    border-color: #d3d3d3;
}

.text-end {
    position: absolute;
    bottom: 10px;
    right: 50px;
}
